@model LoginViewModel

    <h2>
        Don't have an account?
        <a asp-action="Register" asp-controller="Account">Register!</a>
    </h2>

    <form asp-action="Login" asp-controller="Account" method="post" class="form-horizontal">
        <div class="form-group">
            <label asp-for="UserName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Log in" />
            </div>
        </div>


    </form>


    <div class="cold-md-6">

        <h4>Or use another service to login!</h4>
        @{
            if(Model.ExternalLogins.Count == 0)
            {
                <div>No external logins configured.</div>
            }
            else
            {
                <form method="post" asp-action="ExternalLogin" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl">
                    <div>
                        @foreach(var provider in Model.ExternalLogins)
                         {
                                <button type="submit" class="btn btn-primary"
                                        name="provider" value="@provider.Name"
                                        title="Login using your @provider.DisplayName account">
                                    @provider.DisplayName
                                </button>
                         }
                    </div>
                </form>
            }
        }

    </div>