@model IEnumerable<ProductViewModel>

<div class="carousel-item">
    @{
        foreach (var source in Model)
        {
            <img src = "~/images/@source.ImagePhoto">
        }
    }

    <div class="carousel-caption d-none d-md-block">
        <h5>...</h5>
        <p>...</p>
    </div>
</div>